body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4; /* สีพื้นหลัง */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* ให้ container สูงเต็มจอ */
}

.profile-section, .address-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.profile-section {
    margin-right: 20px; /* ระยะห่างระหว่าง 2 sections */
}

.profile-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group span {
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#edit-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}